
body{
    background-color: #FDF0D5;
}

html, body{
    min-height: 100%;
    margin: 0;
}

.content{
    min-height: 100vh;
}

/* --------------------- Nav Bar --------------------- */
nav{
    background-color: #780000;
}

.navbar-brand{
    color: #F1D302;
    font-family: Merriweather, sans-serif;
    font-size: 2rem;
    letter-spacing: 1.5px;
}

.navbar-brand:hover{
    color: white;
}

.nav-link{
    color: #FDFFFC;
    font-size: 1.1rem;
}

.h4{
    color: #F1D302;
    font-family: Merriweather, sans-serif;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

.navbar-nav a:hover{
    color: #F1D302;
    text-decoration: underline;
}

body{
    font-family: Assistant, sans-serif;
}

/* --------------------- Footer --------------------- */
footer{
    background-color: #780000;
}

.footer{
    left: 0;
    width: 100%;
}

footer p{
    margin-bottom: 30px;
}

footer i{
    color: #669BBC;
}

footer i:hover{
    color: #F1D302;
}

/* --------------------- Homepage --------------------- */
.welcome, .welcome-text{
    color: black;
}

.welcome-text{
    font-size: 1.7rem;
    font-weight: bolder;
}

.welcome-text a{
    color: black;
}

.welcome-text a:hover{
    color: #a2d2ff;
}

.main-image {
    background: url('../media/leaf-image.jpg') no-repeat;
    background-size: cover;
    height: 60vh;
}

#animated-text{
    transition: opacity 0.4s ease-in-out;
}

.hide{
    opacity: 0;
}

.fa-solid{
    color: #235789;
}

.card-img-top{
    height: 40vh;
}

.home-card{
    font-size: 1.5rem;
}

/* --------------------- Schools List Page  --------------------- */

.school-page{
    background: url(../media/background-schools.jpg);
    background-size: cover;
    height: 60vh;
}

.schools-list{
    font-size: 3.5rem;
    color: #FDFFFC;
}

.schools-list-2{
    font-size: 2.7rem;
    color: #FDF0D5;
}

.list-header{
    padding-top: 100px;
}

h6 i{
    padding-right: 10px;
}

.card-list{
    /*height: 50vh;*/
}

.specialisation{
    font-weight: bolder;
}

.school-link:hover, .list-page:hover{
    color: #161925;
}

.icons-info{
    font-size: 1.15rem;
}

.info-icon{
    font-size: 1.1rem;
}

/* --------------------- School Detail Page --------------------- */

.key-numbers{
    text-decoration: underline;
}

.history{
    color: white;
}

.history:hover{
    color: red;
}

.school-name{
    font-family: Merriweather, sans-serif;
    color: #235789;
}

.fa-arrow-left{
    color: white;
}

.key-numbers, .grades{
    font-size: 1.15rem;
}

.comment-title{
    font-family: Merriweather, sans-serif;
    color: #235789;
}

.comment-info{
    font-size: 0.9rem;
}

.key-box{
    margin-top: 30px;
    border: #780000 1px solid;
}

/* --------------------- Signup / Login Page --------------------- */

.login-signup{
    color: #003049;
    font-family: Merriweather, sans-serif;
}

.signup-prompt{
    font-size: 1.1rem;
    margin-top: 30px;
}

/* --------------------- My comments page --------------------- */

ul{
    list-style-type: none;
}

.schools-link{
    color: #C1121F;
}

.schools-link:hover{
    color: #003049;
}

.my-comments{
    font-family: Merriweather, sans-serif;
    color: #235789;
}

.no-comments{
    font-size: 1.4rem;
}

#commented-school{
    font-size: 1.3rem;
}

#single-comment{
    font-size: 1.1rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* --------------------- Edit/Delete Comment --------------------- */

.delete-comment{
    font-family: Merriweather, sans-serif;
    color: #235789;
}

.comment-message{
    font-size: 1.3rem;
}

/* --------------------- Media Queries --------------------- */

@media only screen
    and (min-width: 768px)
    and (max-width: 1024px) {
        .card-img-top {
            height: fit-content;
        }
}