body{
    background-color: #FDF0D5;
}

nav{
    background-color: #780000;
}

.navbar-brand, .nav-link{
    color: #FDFFFC;
}

footer{
    background-color: #780000;
}

footer i{
    font-size: 25px;
}

footer i:hover{
    color: #F1D302;
}