
body{
    background-color: #FDF0D5;
}

/* --------------------- Nav Bar --------------------- */
nav{
    background-color: #780000;
}

.navbar-brand{
    color: #F1D302;
    font-family: Merriweather, sans-serif;
    font-size: 2rem;
    letter-spacing: 1.5px;
}

.navbar-brand:hover{
    color: white;
}

.nav-link{
    color: #FDFFFC;
    font-size: 1.1rem;
}

.h4{
    color: #F1D302;
    font-family: Merriweather, sans-serif;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

footer p{
    margin-bottom: 30px;
}

.navbar-nav a:hover{
    color: #F1D302;
}

/* --------------------- General body --------------------- */

body{
    font-family: Assistant, sans-serif;
}

/* --------------------- Footer --------------------- */
footer{
    background-color: #780000;
}

footer i{
    color: #669BBC;
    font-size: 25px;
}

footer i:hover{
    color: #F1D302;
}

/* --------------------- Homepage --------------------- */
.welcome, .welcome-text{
    /*color:#780000;*/
    color: #F1D302;
}

.welcome-text{
    font-size: 1.5rem;
}

.main-image {
    background: url('../media/books.jpg') no-repeat;
    background-size: cover;
    height: 60vh;
}

.fa-solid{
    color: #235789;
}

.card-img-top{
    height: 40vh;
}

/* --------------------- Schools List Page  --------------------- */

.school-page{
    background: url(../media/boy-book.jpg);
    background-size: cover;
    height: 80vh;
}

.schools-list{
    font-size: 3.5rem;
    color: #003049;
}

h6 i{
    padding-right: 10px;
}

.specialisation{
    font-weight: bolder;
}

.school-link:hover, .list-page:hover{
    color: #161925;
}


/* --------------------- School Detail Page --------------------- */

.key-numbers{
    text-decoration: underline;
}

.school-name{
    font-family: Merriweather, sans-serif;
    color: #235789;
}

/* --------------------- Signup / Login Page --------------------- */

.login-signup{
    color: #003049;
    font-family: Merriweather, sans-serif;
}

.signup-prompt{
    font-size: 1.1rem;
    margin-top: 30px;
}