{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% load crispy_forms_tags %}
<div class="conatiner">
    <div class="col-md-8 mt-3 offset-md-2">
        <h2 class="delete-comment pb-3">Delete Comment <i class="fa-regular fa-trash-can"></i></h2>
        <p class="comment-message">Are you sure you want to delete this comment?</p>
        <p>{{ comment.created_on }}</p>
        <p>{{ comment.school }}</p>
        <p>{{ comment.body }}</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn btn-dark">
        </form>
    </div>
</div>

{% endblock %}