{% extends "base.html" %}
{% load static %}

{% block content %}

<header>
<div class="container-fluid">
    <div class="bg-image main-image">
        <div class="pt-5 welcome-message text-center">
        <h1 class="welcome pt-5">Welcome to ClassMate</h1>
        <h2 class="welcome-text">Helping you make confident choices around schools and education</h2>
        <!-- Heading message and link changes depending on whether user is logged in or not -->
        {% if user.is_authenticated %}
        <p class="welcome-text">Welcome back!<a href="{% url 'schools' %}"> View school pages </a>to leave comments and interact with other users</p>
        {% else %}
        <p class="welcome-text"><a href="{% url 'account_signup' %}">Create an account </a>to leave comments on school and interact with other users</p>
        {% endif %}
        </div>
    </div>
</div>
</header>


<!-- Popular on this site Cards  -->
<div class="container" id="popular-schools">
    <div class="pt-4 pb-3 mt-4 mb-2">
        <div class="row">
            <div class="col-12">
            <h2 id="animated-text">Popular on ClassMate <i class="fa-solid fa-fire"></i></h2>
            </div>
        </div>
    </div>
</div>

<div class="row card-group pb-3">
    <div class="col-sm-4 mb-3 mb-sm-0 p3">
      <div class="card">
        <img class="card-img-top" src="https://res.cloudinary.com/dhigosr0c/image/upload/v1684677015/ib8z6c2a3owpa7ngek44.jpg" alt="Card image">
        <div class="card-body">
          <h5 class="card-title home-card">Queen Elizabeth Grammar School</h5>
          <hr>
          <i class="fa-solid fa-location-dot"></i><p class="card-text">London</p>
          <i class="fa-solid fa-book-open"></i><p class="card-text">Sciences</p>
          <i class="fa-solid fa-graduation-cap"></i><p class="card-text">Girls</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0 p3">
      <div class="card">
        <img class="card-img-top" src="https://res.cloudinary.com/dhigosr0c/image/upload/v1685302396/static/media/school-3.f1a8ac52b694.jpg" alt="Card image">
        <div class="card-body">
          <h5 class="card-title home-card">Ridgeview Academy</h5>
          <hr>
          <i class="fa-solid fa-location-dot"></i><p class="card-text">Bristol</p>
          <i class="fa-solid fa-book-open"></i><p class="card-text">Maths & Computing</p>
          <i class="fa-solid fa-graduation-cap"></i><p class="card-text">Co-educational</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0 p3">
        <div class="card">
          <img class="card-img-top" src="https://res.cloudinary.com/dhigosr0c/image/upload/v1685302398/static/media/school-1.9aa3227d953c.jpg" alt="Card image">
          <div class="card-body">
            <h5 class="card-title home-card">Grove College</h5>
            <hr>
            <i class="fa-solid fa-location-dot"></i><p class="card-text">Newcastle</p>
            <i class="fa-solid fa-book-open"></i><p class="card-text">Humanities</p>
            <i class="fa-solid fa-graduation-cap"></i><p class="card-text">Boys</p>
          </div>
        </div>
      </div>
  </div>

<script>
  const textAnimation = document.getElementById('animated-text');

  setInterval(() => {
    textAnimation.classList.add('hide');

    setTimeout(() => {
      textAnimation.classList.remove('hide');
    }, 500);
  }, 2000);

</script>

{% endblock %}