{% extends "base.html" %}

{% block content %}

<header>
<div class="container-fluid">
    <div class="bg-image main-image">
        <div class="pt-5 welcome-message text-center">
        <h1 class="welcome">Welcome to ClassMate</h1>
        <h2 class="welcome-text">Helping you make confident choices around schools and education</h2>
        {% if user.is_authenticated %}
        <p class="welcome-text">Welcome back!<a href="{% url 'schools' %}">View school pages </a>to leave comments and interact with other users</p>
        {% else %}
        <p class="welcome-text"><a href="{% url 'account_signup' %}">Create an account </a>to view discussions, rate schools and interact with other users</p>
        {% endif %}
        </div>
    </div>
</div>
</header>


<!-- Popular on this site Cards  -->
<div class="container" id="popular-schools">
    <div class="pt-4 pb-3 mt-4 mb-2">
        <div class="row">
            <div class="col-12">
                <h2>Popular on ClassMate</h2>
            </div>
        </div>
    </div>
</div>

<div class="row card-group">
    <div class="col-sm-4 mb-3 mb-sm-0 p3">
      <div class="card">
        <img class="card-img-top" src="/static/media/queen-elizabeth-grammar.jpg" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Queen Elizabeth Grammar School</h5>
          <i class="fa-solid fa-location-dot"></i>
          <i class="fa-solid fa-book-open"></i>
          <i class="fa-solid fa-graduation-cap"></i>
          <p class="card-text">Location, Gcse grade, specialisation</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0 p3">
      <div class="card">
        <img class="card-img-top" src="/static/media/home-image.jpg" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Lakehshore Academy</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-dark">View details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0 p3">
        <div class="card">
          <img class="card-img-top" src="/static/media/springwood-hall.jpg" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Sterling Heights</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-dark">View details</a>
          </div>
        </div>
      </div>
  </div>


{% endblock %}