{% extends "base.html" %}

{% block content %}

<div class="col-md-8 mt-3 offset-md-1">
    {% if comments %}
        <ul class="comment">
        {% for comment in comments %}
        <li>{{ comment.school }}</li>
        <li>{{ comment.body }}</li>
        <li>{{ comment.created_on }}</li>
        <li>
            <a href="{% url 'edit_comment' comment.id %}">Edit</a>
            <a href="{% url 'delete_comment' comment.id %}">Delete Comment</a>
        </li>
        </ul>
        {% endfor %}
    {% else %}
    <p class="no-comments">You haven't made any comments yet!</p>
    {% endif %}
</div>
{% endblock %}