{% extends "base.html" %}

{% block content %}

<div class="col-md-8 mt-3 offset-md-2">
    {% if comments %}
        {% for comment in comments %}
        <ul>
        <li id="commented-school">{{ comment.school }}</li>
        <li>({{ comment.created_on }})</li>
        <li id="single-comment">{{ comment.body }}</li>
        <li>
            <a href="{% url 'edit_comment' comment.id %}" class="btn btn-success p-1">Edit Comment</a>
            <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger p-1">Delete Comment</a>
        </li>
        </ul>
        <hr>
        {% endfor %}
    {% else %}
    <p class="no-comments">You haven't made any comments yet!</p>
    {% endif %}
</div>
{% endblock %}