{% extends "base.html" %}

{% block content %}

<!--Page header-->
<header>
    <div class="container-fluid">
        <div class="bg-image container-fluid school-page">
            <div class="pt-5 list-header text-center">
            <h1 class="schools-list">Browse Schools</h1>
            <h2 class="schools-list">Find an Education that suits you</h2> 
            </div>
        </div>
    </div>
    </header>


    <!-- Add filtering tool here -->  

    <!--Cards to display all schools on a page -->  
     <div class="container-fluid">
     <div class="row">
        {% for school in schools %}
        <!--Individual Schools Cards-->
        <div class="col-lg-10 offset-lg-1">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-6 image-container">
                  {% if "placeholder" in school.featured_image.url %}
                  <img src="../static/media/placeholder.jpg" class="card-img" alt="Placeholder general school image">
                  {% else %}
                  <img src="{{ school.featured_image.url }}" class="card-img" alt="{{ school.name }}">
                  {% endif %} 
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                  <a href="{% url 'school_detail' school.slug %}" class="school-link">
                    <h4 class="card-title">{{ school.name }}</h4>
                  </a> 
                  <h6 class="icons-info">
                  <i class="fa-solid fa-location-dot"></i>{{ school.region }}<br>
                  <i class="fa-solid fa-school"></i>{{ school.status }}<br>
                  <i class="fa-solid fa-venus-mars"></i>{{ school.gender_type }}
                  </h6>
                    <p class="card-text">{{ school.excerpt }}</p>
                    <!-- Additional information -->
                    <p class="card-text specialisation"><strong>Specialises in:</strong> {{ school.specialisation }}</p>
                    <p class="card-text specialisation"><strong>Average class size:</strong> {{ school.class_size }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

         {% endfor %}   
        </div>
     </div>
    </div>

{% endblock %}


