{% extends "base.html" %}

{% block content %}

<!--Page header-->
<header>
    <div class="container-fluid">
        <div class="bg-image container-fluid school-page">
            <div class="pt-5 list-header text-center">
            <h1 class="schools-list">Browse Schools</h1>
            <h2 class="schools-list">Find an Education that suits you</h2> 
            </div>
        </div>
    </div>
    </header>

    <!-- Add bootsrap cards for each school (for loop)
     one row per school - 60-80% of screen-->

{% endblock %}