{% extends "base.html" %}

{% block content %}

<!--Page header-->
<header>
    <div class="container-fluid">
        <div class="bg-image container-fluid school-page">
            <div class="pt-5 list-header text-center">
            <h1 class="schools-list">Browse Schools</h1>
            <h2 class="schools-list">Find an Education that suits you</h2> 
            </div>
        </div>
    </div>
    </header>

    <!-- Add bootstrap cards for each school (for loop)
     one row per school - 60-80% of screen-->  
     <div class="container-fluid">
     <div class="row">
        {% for school in schools %}
        <!--Individual Schools Cards-->
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="your-image.jpg" class="card-img" alt="Image">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Card content goes here.</p>
                    <!-- Additional card content -->
                  </div>
                </div>
              </div>
            </div>

         {% endfor %}   
        </div>
     </div>
    </div>

{% endblock %}


