{% extends "base.html" %}

{% block content %}

<!-- Give users a prompt to add a comment/look at comments  -->

<!-- Add JS Animation -->
<!-- Add JS on click to go back to previous page on this button -->
<a class="link" href="#"><button type="button" class="btn btn-dark btn-sm">Back to All Schools</button></a>


<!-- A school will be displayed on a card per page - add card here -->

    <h2>
        {{ school.name }}
    </h2>
    <p>
        {{ school.description }}
    </p>

<!-- Add comment form here  -->
{% endblock %}