{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Give users a prompt to add a comment/look at comments  -->

<!-- Add JS on click to go back to previous page on this button -->

<span class="btn btn-dark btn-sm">
    <a onclick="history.back()" aria-label="back to previous page"> <i class="fa-solid fa-arrow-left"></i> Back to Schools</a>
</span>

<!--School main info -->
<div class="container">
    <div class="card">
        <div class="row mg-lg-4">
            <div class="col-12 col-lg-8">
                <div class="image-container">
                    {% if "placeholder" in school.featured_image.url %}
                    <img src="../static/media/placeholder.jpg" class="card-img" alt="Placeholder general school image">
                    {% else %}
                    <img src="{{ school.featured_image.url }}" class="card-img" alt="{{ school.name }}">
                    {% endif %} 
                  </div>
                <div class="col-12 col-lg-4 pt-lg-4">
                <div class="card-body">
                    <h4 class="school-name">{{ school.name }}</h4>
                </div> 
                <h5><i class="fa-solid fa-location-dot p-1"></i> {{ school.region }}</h5>
                <h5><i class="fa-solid fa-venus-mars p-1"></i> {{ school.gender_type }}</h5>
                <h5><i class="fa-solid fa-coins p-1"></i> {{ school.status }}</h5>
                <h5><i class="fa-solid fa-book-open p-1"></i> {{ school.specialisation }}</h5>
            <h6 class="key-numbers">Key Numbers:</h6>
            <p class="grades">Average GCSE Maths Grade: {{ school.avg_gcse_maths_grade }}</p>
            <p class="grades">Average GCSE English Grade: {{ school.avg_gcse_english_grade }}</p>
            <p class="grades">Percentage of Students Achieveing Grade 5 or above at GCSE: {{ school.percentage_gcse_5_above }}</p>
            </div>
        </div>
        <hr>
        <!--School description -->
        <div class="card-body">
            <div class="row p-2 mb-4">
                <div class="col-12">
                    <p>{{ school.description | safe }}</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!--  Comment form --> 

<!--  non-logged in users can see comments but cannot add them --> 
<div class="row">
    <div class="col-md-6 card mb-4 mt-3 text-center">
        <h4>Comment Section:</h4>
        <div class="card-body">
            <!--For loop for iteration of comments-->
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Waiting for comment to be approved..
            </div>
            {% else %}
            {% if user.is_authenticated %}

            <h4>Please leave a comment or participate in discussion </h4>
            <p>User: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em">
                {{ comment_form | crispy }}
                {% csrf_token %}
            <button type="submit" class="btn btn-dark">Submit Comment</button>
        </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}

